<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tobi{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        
        <!-- Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">TOBI</a>
        </div>
        
        <!-- Items-->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'code' %}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; Code
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'about' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; About
                    </a>
                </li>
            </ul>
            
            
            
        </div>
        
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>